.git
.gitignore
.env
.venv
.venv-1
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
instance/
backups/
static/uploads/posters/*
static/uploads/qrcodes/*
static/uploads/certificates/*
!static/uploads/posters/.gitkeep
!static/uploads/qrcodes/.gitkeep
!static/uploads/certificates/.gitkeep
